<?php
class JConfig {
	public $offline = '{{ joomla_offline | default(0) }}';
	public $offline_message = '{{ joomla_offline_message | default("This site is down for maintenance. Please check back again soon") }}';
	public $display_offline_message = '{{ joomla_display_offline_message| default(1) }}';
	public $offline_image = '{{ joomla_offline_image| default("") }}';
	public $sitename = '{{ joomla_sitename| default("Development version for tne new Joomla-based DPE site.") }}';
	public $editor = '{{ joomla_editor| default("codemirror") }}';
	public $captcha = '{{ joomla_captcha| default(0) }}';
	public $list_limit = '{{ joomla_list_limit| default(20) }}';
	public $access = '{{ joomla_access| default(1) }}';
	public $debug = '{{ joomla_debug| default(0) }}';
	public $debug_lang = '{{ joomla_debug_lang| default(0) }}';
	public $dbtype = '{{ joomla_dbtype| default("mysqli") }}';
	public $host = '{{ joomla_host| default("localhost") }}';
	public $user = '{{ joomla_user| default("") }}';
	public $password = '{{ joomla_password| default("") }}';
	public $db = '{{ joomla_db| default("") }}';
	public $dbprefix = '{{ joomla_dbprefix| default("") }}';
	public $live_site = '{{ joomla_live_site| default("") }}';
	public $secret = '{{ joomla_secret| default("") }}';
	public $gzip = '{{ joomla_gzip| default(0) }}';
	public $error_reporting = '{{ joomla_error_reporting| default("default") }}';
	public $helpurl = '{{ joomla_helpurl| default("") }}';
	public $ftp_host = '{{ joomla_ftp_host| default("") }}';
	public $ftp_port = '{{ joomla_ftp_port| default("") }}';
	public $ftp_user = '{{ joomla_ftp_user| default("") }}';
	public $ftp_pass = '{{ joomla_ftp_pass| default("") }}';
	public $ftp_root = '{{ joomla_ftp_root| default("") }}';
	public $ftp_enable = '{{ joomla_ftp_enable| default(0) }}';
	public $offset = '{{ joomla_offset| default("UTC") }}';
	public $mailonline = '{{ joomla_mailonline| default(0) }}';
	public $mailer = '{{ joomla_mailer| default("smtp") }}';
	public $mailfrom = '{{ joomla_mailfrom| default("") }}';
	public $fromname = '{{ joomla_fromname| default("") }}';
	public $sendmail = '{{ joomla_sendmail| default("") }}';
	public $smtpauth = '{{ joomla_smtpauth| default("") }}';
	public $smtpuser = '{{ joomla_smtpuser| default("") }}';
	public $smtppass = '{{ joomla_smtppass| default("") }}';
	public $smtphost = '{{ joomla_smtphost| default("") }}';
	public $smtpsecure = '{{ joomla_smtpsecure| default("") }}';
	public $smtpport = '{{ joomla_smtpport| default("") }}';
	public $caching = '{{ joomla_caching| default(0) }}';
	public $cache_handler = '{{ joomla_cache_handler| default("file") }}';
	public $cachetime = '{{ joomla_cachetime| default(100) }}';
	public $MetaDesc = '{{ joomla_MetaDesc| default("") }}';
	public $MetaKeys = '{{ joomla_MetaKeys| default("") }}';
	public $MetaTitle = '{{ joomla_MetaTitle| default(1) }}';
	public $MetaAuthor = '{{ joomla_MetaAuthor| default(1) }}';
	public $MetaVersion = '{{ joomla_MetaVersion| default(0) }}';
	public $robots = '{{ joomla_robots| default("noindex, nofollow") }}';
	public $sef = '{{ joomla_sef| default(1) }}';
	public $sef_rewrite = '{{ joomla_sef_rewrite| default(0) }}';
	public $sef_suffix = '{{ joomla_sef_suffix| default(0) }}';
	public $unicodeslugs = '{{ joomla_unicodeslugs| default(0) }}';
	public $feed_limit = '{{ joomla_feed_limit| default(10) }}';
	public $log_path = '{{ joomla_log_path| default("") }}';
	public $tmp_path = '{{ joomla_tmp_path| default("") }}';
	public $lifetime = '{{ joomla_lifetime| default(6000) }}';
	public $session_handler = '{{ joomla_session_handler| default("database") }}';
	public $memcache_persist = '{{ joomla_memcache_persist| default(1) }}';
	public $memcache_compress = '{{ joomla_memcache_compress| default(0) }}';
	public $memcache_server_host = '{{ joomla_memcache_server_host| default("localhost") }}';
	public $memcache_server_port = '{{ joomla_memcache_server_port| default(11211) }}';
	public $memcached_persist = '{{ joomla_memcached_persist| default(1) }}';
	public $memcached_compress = '{{ joomla_memcached_compress| default(0) }}';
	public $memcached_server_host = '{{ joomla_memcached_server_host| default("localhost") }}';
	public $memcached_server_port = '{{ joomla_memcached_server_port| default(11211) }}';
	public $redis_persist = '{{ joomla_redis_persist| default(1) }}';
	public $redis_server_host = '{{ joomla_redis_server_host| default("localhost") }}';
	public $redis_server_port = '{{ joomla_redis_server_port| default(6379) }}';
	public $redis_server_auth = '{{ joomla_redis_server_auth| default("") }}';
	public $redis_server_db = '{{ joomla_redis_server_db| default(0) }}';
	public $proxy_enable = '{{ joomla_proxy_enable| default(0) }}';
	public $proxy_host = '{{ joomla_proxy_host| default("") }}';
	public $proxy_port = '{{ joomla_proxy_port| default("") }}';
	public $proxy_user = '{{ joomla_proxy_user| default("") }}';
	public $proxy_pass = '{{ joomla_proxy_pass| default("") }}';
	public $massmailoff = '{{ joomla_massmailoff| default(1) }}';
	public $MetaRights = '{{ joomla_MetaRights| default("") }}';
	public $sitename_pagetitles = '{{ joomla_sitename_pagetitles| default(0) }}';
	public $force_ssl = '{{ joomla_force_ssl| default(2) }}';
	public $session_memcache_server_host = '{{ joomla_session_memcache_server_host| default("localhost") }}';
	public $session_memcache_server_port = '{{ joomla_session_memcache_server_port| default("11211") }}';
	public $session_memcached_server_host = '{{ joomla_session_memcached_server_host| default("localhost") }}';
	public $session_memcached_server_port = '{{ joomla_session_memcached_server_port| default("11211") }}';
	public $frontediting = '{{ joomla_frontediting| default(0) }}';
	public $feed_email = '{{ joomla_feed_email| default("author") }}';
	public $cookie_domain = '{{ joomla_cookie_domain| default("") }}';
	public $cookie_path = '{{ joomla_cookie_path| default("") }}';
	public $asset_id = '{{ joomla_asset_id| default(1) }}';
}
