# Log format for proxy logging
log_format upstreamlog '[$time_local] $remote_addr - $remote_user - $server_name to: $upstream_addr: $request upstream_response_time $upstream_response_time msec $msec request_time $request_time';

# Include vhosts
include /etc/nginx/vhosts.d/*.conf;
